body {
    display: flex;
    flex-wrap: wrap;
    background-color: #0d1114;
    color: #c9d1d9;
}
.navbarFlex,
.footerFlex{
    min-width: 100%;
}


.card {
    background-color: #0d1114;
    color: #c9d1d9; 
    align-items: center;
}

.contentContainer{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 1;
}

.imgDiv{
    max-width: 500px;
}



.card1Flex{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.cardStyle{
    margin: 10px;
}

.searchContainer{
    margin: 10px;
}

.profileFlex{
    max-width: 20rem;
    flex-grow: 0;
    flex-shrink: 1;
    margin-left: 10px;
    margin-top: 10px;
}

.form-check-input {
    visibility:visible;
    font-size:30px;
    cursor:pointer;
};
.form-check-input:before {
    content: "\2606";
    position: center;
    visibility:visible;
};
.form-check-input:checked:before {
    content: "\2605";
    position: center;
    visibility:visible;
};
