body {
    background-color: #0d1114;
    color: #c9d1d9;
}

.card {
    background-color: #0d1114;
    color: #c9d1d9; 
}



.form-check-input {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
};
.form-check-input:before {
    content: "\2606";
    position: center;
    visibility:visible;
};
.form-check-input:checked:before {
    content: "\2605";
    position: center;
    visibility:visible;
};
