/* .contentContainer{
    flex-direction: column;
} */
/* .block1{
    background-color: aqua;
    
}

.block2{
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;

}
.block3{
    background-color: burlywood;
} */